/* Estilos para o tema claro */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

header {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para o tema escuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode button {
    background-color: #555;
    color: white;
}

body.dark-mode button:hover {
    background-color: #666;
}
